#slider{
    margin-top: -24px;
}

#menu-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}



#primary-menu{
    float: none !important;
    margin-right: 0 !important;
}

#menu-list{
    float: none !important;
    width:75%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding-right: 0px !important;
    border-right-style: none !important;
}

#menu-list > li {
    margin-left: 0px !important;
}

#menu-list > li > a {
    font-size: 1em !important;
}